NODE_ENV=development
HOST='127.0.0.1'
PORT=8080
APIKEY=259aa7265815af5bbcb93b20eb32d0f8
DATABASE=mongodb+srv://USER:1234@cluster53695.b0rdhlm.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=secret
PASSWORD_SECRET=$2a$12$YourCustomSaltHere
JWT_EXPIRES_IN=1d